*{
    margin: 0;
    padding: 0;

}

body {
    height: 2000px;
}
.navbar {
    background: #202B41;
    width: 100%;
    height: 350px;
}

.navbar .logo {
    font-size: 30px;
    position: relative;
    left: 20%;
    color: #fff;
}


.navbar ul {
    float: right;
    color: #fff;
    list-style: none;
}

.navbar ul li {
    float: left;
    margin: 7px;
    position: relative;
    right: 140%;
    font-size: 20px;

}
.navbar ul a {
    color: #fff;

}
.navbar ul a:first-child {
    color: #4eab9b;
}

.navbar ul li:hover {
    color: #4eab9b;
}


.navbar .button-1  , i {
    float: right;
}


.navbar  .button-1 {
    padding: 10px;
    background: #FF0053;
    border: none;
    border-radius: 22px;
    position: relative;
    top: 5px;
    outline: unset;
    width: 4%;
}

.navbar i {
    color: #00C7BA;
    position: relative;
    top: 9px;
    left: 8px;
    font-size: 25px;
    border-right: 3px solid #00C7BA;
    padding-right: 13px;
}

.navbar-center {
    clear: both;
    margin: auto;
    width: 100%;
    color: #fff;
    position: relative;
    top: 95px;
}

.navbar-center h1 , p {
    margin-bottom: 10px;
}

.navbar-center .button-2{
    padding: 10px;
    background: #FF0053;
    border: none;
    width: 9%;
    border-radius: 22px;
    position: relative;
    top: 5px;
    outline: unset;
}



/* End the navbar  */

/* start sher */

.sher {
    text-align: center;
    margin: auto;
    width: 93%;
}
.start-icon {
    padding-top: 5%;
    padding-bottom: 9%; 
}

.sher i {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 73px;
    color: #a9d829;
}

.sher p {
    color: #8a8989d8;
}

.class-sher-1 {
    float: left;
    width: 33%;
}

.class-sher-1 i {
    color: rgb(0, 199, 186);
} 

.class-sher-1  h4 {
    color: #F2D757
}


.class-sher-1 p {
    padding: 14%;
    padding-top: 8px;
}


/* end sher */


/* start filter */

.filter {
    clear: both;
    width: 100%;
    text-align: center;
    background: #F2F7FD;
    height: 827px;
    padding-bottom: 20px 
}

.filter i {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 73px;
    color: #a9d829;
    
}

.filter  .ul-filter {
    width: 28%;
    margin: auto;
    margin-bottom: 9%;
}
.filter  .ul-filter li{
    float: left;
    list-style: none;
    margin: 10px;
    color:#000;
    border-radius: 10px;
    padding: 10px 
}

.filter  .ul-filter .active {
    background: #FF0053;
    color: #000000
}
.filter .img-filter {
    clear: both;
}

.filter .img-filter  img {
    width: 268px;
    height: 243px;
}

.filter  .button-2{
    padding: 10px;
    background: #FF0053;
    border: none;
    border-radius: 22px;
    position: relative;
    top: 5px;
    width: 8%;
    outline: unset;
}
/* end filter */

/* start about us */

.about-us {
    clear: both;
    width: 100%;
    text-align: center;
    background: #fff;
    height: 739px;
    padding-bottom: 20px 
}

.about-us i {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 73px;
    color: #a9d829;
    margin-top: 10%
    
}
.about-us .text-about-us h2 {
    color: #333
}
.about-us .text-about-us {
    float: left;
    width: 33%;
    margin: 10%;
    text-align: left;
    color: #7c7777
}


.about-us .img-about-us {
    float: right;
}

.about-us .button-2{
    padding: 10px;
    background: #FF0053;
    border: none;
    border-radius: 19%;
    position: relative;
    top: 5px;
    outline: unset;
}

/* end about us */


/* start meet */

.meet {
    width: 100%;
    height: 510px;
    background: #F2F7FD;
    text-align: center
}
.meet .start-meet h2 {
    color: #dfcb17
}
.meet .start-meet {
    width: 70%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4% 
}

.meet .img-meet .img-meet-child {
    float: left;
    width: 15%;
    margin-left: 8%;
}

.meet .img-meet .img-meet-child img {
    width: 200px;
    height: 200px;
    margin: -5px;
}


.meet .img-meet .img-meet-child button{
    width: 99%;
    height: 40px;
    margin: 0;
    outline: unset;
    border: none;
    background: #00bcacb8;
    color: #333;
    position: relative;
    bottom: 38px;
}

.meet .img-meet .img-meet-child button:hover {
    background: #2fb4b4d3;
    color: rgb(197, 197, 197); 
}
.meet .img-meet .img-meet-child p{
    background: #fff;
    padding: 5px;
    position: relative;
    bottom: 42px
}
/* end meet */


/* start com-icon */

.com-icon {
    clear: both;
    margin: 10px;
    margin-top: 26%;
    background: #fff;
    width: 100%;
}

.com-icon i {
    float: left;
    font-size: 50px;
    margin-left: 11%;
    color: rgba(0, 0, 0, 0.466)
}

.start-pro {
    clear: both;
    text-align: center;
    width: 100%;
    height: 237px;
    background: rgb(20, 37, 83);
    margin-top: 32% ;
    color: #fff
}

.start-pro  .button-2{
    padding: 10px;
    background: #FF0053;
    border: none;
    border-radius: 22px;
    position: relative;
    top: 5px;
    outline: unset;
}

.start-pro  h2 {
    padding-top: 7%;
    padding-bottom: 15px 
}

/* end com-icon */


/* start read and blog */

.read-our-blog .start-read {
    padding-top: 5%;
    padding-bottom: 5%; 
}

.read-our-blog i {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 73px;
    color: #a9d829;
}

.read-our-blog .post-blog .post-blog-us {
    float: left;
    width: 33%;
    margin: auto;
    text-align: left
}

.read-our-blog .post-blog .post-blog-us  p {
    padding-left: 26px;
}
.read-our-blog .post-blog .post-blog-us  .date {
    color: #ccc
}

.read-our-blog .post-blog .post-blog-us img{
    width: 399px;
    height: 200px;
    margin: 15px;
}

.read-our-blog .button-2{
    padding: 10px;
    background: #FF0053;
    border: none;
    border-radius: 22px;
    position: relative;
    top: 5px;
    outline: unset;
}


/* end read and blog */


/* start mail  */


.mail {
    background: #fbc206;
    float: left;
    width: 100%;
    height: 56px;
    margin-top: 10%;
    padding-top: 2%;
}

.mail input[type="text"] {
    border: none;
    padding: 10px;
    width: 30%;
    background: none;
    outline: unset;
    border-bottom: 2px solid #fff 
}

.mail input[type="submit"] {
    padding: 10px;
    border-radius: 22px;
    background: #333;
    border: none;
    outline: unset ;
    color: #fbc206;
    width: 8%
}

.mail h4 {
    display: inline
}
/* end mail */


.footer {
    clear: both;
    padding: 39px;
    height: 170px;
    background: #202B41;
    color: rgba(255, 255, 255, 0.808);
    text-align: left;
}

.footer .footer-1 , .footer-2{
    float: left;
    margin-left: 9%;
}

.footer .footer-1 ul li , .footer-2 ul li{
    list-style: none;
}

.footer .footer-1 ul .button-2{
    padding: 10px;
    background: #FF0053;
    border: none;
    border-radius: 22px;
    position: relative;
    top: 5px;
    width: 99%;
    outline: unset;
}

.footer .footer-1 .ul-site li {
    float: left;
    padding: 10px;
    margin: 10px
}


.footer .footer-1 .ul-site li i {
    background: #346ce9;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 4px;
    padding-top: 10px;
    padding-left: 9px;
}
.footer .footer-1 .site {
    clear: both;
}