* {
    margin: 0%;
    padding: 0%;
}

body {
    height: 1700px;
}

.navbar {
    background: #202B41;
    width: 100%;
    height: 300px;
}

.navbar  span {
    font-size: 30px;
    position: relative;
    left: 20%;
    color: #fff; 
}

.navbar ul {
    float: right;
    color: #fff;
    list-style: none;
    position: relative;
    right: 18%;
    top: 10px;
}

.navbar ul li {
    float: left;
    margin: 7px;
    position: relative;
    right: 140px;
    font-size: 20px;
}

.navbar ul a  {
    color: #fff;
}
.navbar  ul a:first-child {
    color: rgb(50, 180, 180);
}

.navbar  ul a:hover {
    color: rgb(50, 180, 180);
}

.navbar .button-1 , i {
    float: right;
    
}

.navbar .button-1 {
    padding: 10px;
    background: #BC124C;
    border: none;
    border-radius: 6%;
    position: relative;
    top: 10px;
    outline: unset; 
    color: rgb(223, 219, 29)
    
}

.navbar i {
    color: rgb(50, 180, 180);
    position: relative;
    top: 14px;
    left: 8px;
    font-size: 24px;
    border-right: 3px solid rgb(50, 180, 180);
    padding-right: 10px;
}

.navbar-center {
    clear: both;
    margin: auto;
    width: 100%;
    color: #fff;
    position: relative;
    top: 100px;
}

.navbar-center .button-2 {
    padding: 10px;
    background: #BC124C;
    border: none;
    border-radius: 6%;
    position: relative;
    top: 5px;
    outline: unset; 
    margin-top: 10px;
    color: rgb(223, 219, 29)
}

/*  end navbar  */

.sher {
    text-align: center;
    margin: auto;
    width: 90%;
}

.start-icon {
    padding: 5%;
    
}

.start-icon  i {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 70px;
    color: #d2d53e;
}

.start-icon p {
    color: #0f0f0fab;
}

.class-sher {
    float: left;
    width: 30%;
    margin: 20px;
}

.class-sher i {
    color: #393e5194;
    width: 100%;
    font-size: 70px;
    padding: 10px;

}


.class-sher p {
    color: #0f0f0f6b
}